@model IEnumerable<Surveyapp.Models.Question>
@inject SurveyContext Context

@{
    ViewBag.Title = "Question Result";
    Layout = "_Layout";
    int res = 0;
}
<style>
    thead input {
        width: 100%;
    }

    button.dt-button.btn-xs {
        color: white;
        background: #337AB7 !important;
        border-radius: 3%;
        background-color: #337AB7 !important;
        height: 10%;
        text-align: center;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="SurveyResults" asp-controller="SurveyResponses">
                <span>Survey Results</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="SubjectsResult" asp-controller="SurveyResponses" asp-route-id="@ViewBag.CategoryId">
                <span>Subject Results</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Question Result</span>
            </a>
        </li>
    </ol>
</nav>
<h2>Question Result</h2>
<table class="table table-striped table-hover table-bordered display" id="question-result-table">
    <thead>
        <tr>
            <th>
                Question
            </th>
            <th>
                Total Score
            </th>
            <th>
                No of Response
            </th>
            <th>
                Avarage Score
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var surveyResponse = Context.SurveyResponse;
            var responseType = Context.ResponseType;
            foreach (var item in Model.OrderBy(x => x.ResponseType))
            {
                var questionResponseSum = surveyResponse.Where(a => a.QuestionId == item.Id).Sum(x => int.Parse(x.Response));
                var totalQuestionCountResponse = surveyResponse.Count(x => x.QuestionId == item.Id) > 0 ? Context.SurveyResponse.Count(x => x.QuestionId == item.Id) : 1;
                var avgScore = Math.Round((decimal)questionResponseSum / (decimal)totalQuestionCountResponse, 0);
                res = totalQuestionCountResponse;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.question)
                    </td>
                    <td>
                        @questionResponseSum
                    </td>
                    <td>
                        @totalQuestionCountResponse
                    </td>
                    <td>
                        @avgScore
                    </td>
                    <td>
                        @responseType.Where(x => x.SubjectId == item.SubjectId).SelectMany(x => x.ResponseDictionary).SingleOrDefault(x => int.Parse(x.Key) == avgScore).Value
                    </td>
                </tr>
            }
        }

    </tbody>
</table>
@*<div align="center" style="background-color:Beige; color:aqua">
    Number of responses per question <Strong> @res</Strong>
</div>*@
@section Scripts
{
    <script>
        $(document).ready(function() {
            var table = $('#question-result-table').DataTable( {
                "pageLength": 50,
                stateSave: true,
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Brlftip',
                buttons: [
                    {
                        extend: 'pdf',
                        text: '<span title="only visible columns will be exported to excel">Export to pdf</span>',
                        title: "@ViewBag.SubjectName Survey Report",
                        className: 'btn btn-sm btn-xs',
                        filename:'@ViewBag.SubjectName Survey Report',
                        exportOptions: {
                            page: 'all'
                        },
                        messageTop: "@ViewBag.SubjectName Overall perfromance : @ViewBag.SubjectResult (@ViewBag.avgScore)",
                        alignment: "center",
                        customize: function (doc) {
                            //doc.content[1].table.headerRows = 2;
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'center',
                                            text: ['Page ', { text: page.toString(), pageBreak: 'before' }, ' of ', { text: pages.toString() }, '\n genetated by @User.Identity.Name ']
                                        }
                                    ],
                                }
                            });
                            doc['header'] = (function (page, pages, pageSize) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'center',
                                            text: " DKUT Survey app",
                                            canvas: [{ type: 'rect', x: 170, y: 32, w: pageSize.width - 170, h: 40 }]
                                        }
                                    ],
                                }
                            });
                            doc.content[2].table.widths="*"
                            //doc.content.splice(0, 0, {
                            //    margin: [12, 0, 0, 12],
                            //    alignment: "center",
                            //});
                            $.each(doc.content[2].table.body, function (key, values) {
                                //console.log(doc.content[2].table.body[0][1].text)
                                $.each(values, function (id, vals) {
                                    //console.log(vals.text)
                                vals.alignment = 'center'
                                })
                            })
                        }
                    },
                    {
                        extend: 'excel',
                        text: 'export to excel',
                        filename: '@ViewBag.SubjectName Survey Report',
                        messageTop: "@ViewBag.SubjectName Overall perfromance : @ViewBag.SubjectResult (@ViewBag.avgScore)",
                        messageBottom: "genetated by @User.Identity.Name",
                        className: 'btn-xs',
                        exportOptions: {
                            page: 'all'
                        },
                    }
                ]
            });
        } );
    </script>
}