@model IEnumerable<Question>
@inject SurveyContext Context

@{
    ViewBag.Title = "Question Result";
    Layout = "_Layout";
    int res = 0;
}
<style>
    thead input {
        width: 100%;
    }

    button.dt-button.btn-xs {
        color: white;
        background: #337AB7 !important;
        border-radius: 3%;
        background-color: #337AB7 !important;
        height: 10%;
        text-align: center;
    }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="SurveyResults" asp-controller="SurveyResponses">
                <span>Survey Results</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="SubjectsResult" asp-controller="SurveyResponses" asp-route-id="@ViewBag.SurveyId">
                <span>Subject Results</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Question Result</span>
            </a>
        </li>
    </ol>
</nav>
<h2>Question Result</h2>
<table class="table table-striped table-hover table-bordered display" id="question-result-table">
    <thead>
        <tr>
            <th width="60%">
                Question
            </th>
            <th>
                Total Score
            </th>
            <th>
                No of Response
            </th>
            <th>
                Avarage Score
            </th>
            <th>
                Result
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var surveyResponse = Context.SurveyResponse.ToList();
            var responseType = Context.ResponseType.ToList();
            foreach (var item in Model?.OrderBy(x => x.Id).GroupBy(c=>c.QuestionGroup))
            {
                <tr>
                    <td colspan="5" style="font-weight: bolder;text-align: center">@item.Key?.Name</td>
                    <td style="display: none"></td>
                    <td style="display: none"></td>
                    <td style="display: none"></td>
                    <td style="display: none"></td>
                </tr>
                foreach (var question in item)
                {
                    var questionResponseSum = surveyResponse.Where(a => a.QuestionId == question.Id).Sum(x => x.Response);
                    var totalQuestionCountResponse = surveyResponse.Count(x => x.QuestionId == question.Id) > 0 ? Context.SurveyResponse.Count(x => x.QuestionId == question.Id) : 1;
                    var avgScore = Math.Round(questionResponseSum / (decimal)totalQuestionCountResponse, 0);
                    res = totalQuestionCountResponse;
                    var responses = string.Join(",", surveyResponse.Where(c => c.QuestionId == question.Id).Select(x => x.Response));
                    var responseTexts = surveyResponse.Where(c => c.QuestionId == question.Id).Select(x => x.ResponseText).ToList();
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => question.question)
                        </td>
                        @if (question.ResponseType.DisplayOptionType == DisplayOptionType.Input)
                        {
                            <td colspan="4">
                                @foreach (var responseText in responseTexts)
                                {
                                    <p>@responseText</p>
                                    @*if (responseText != responseTexts?.LastOrDefault())
                                    {
                                        <span>,</span>
                                    }*@
                                }
                            </td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                            <td style="display: none"></td>
                        }
                        else
                        {
                            <td title="@responses">
                                @questionResponseSum
                            </td>
                            <td>
                                @totalQuestionCountResponse
                            </td>
                            <td>
                                @avgScore
                            </td>
                            <td>
                                @responseType.SelectMany(x => x.ResponseDictionary).FirstOrDefault(x => x.Value == avgScore)?.Value
                            </td>
                        }
                    </tr>
                }
                
            }
        }

    </tbody>
</table>
@*<div align="center" style="background-color:Beige; color:aqua">
    Number of responses per question <Strong> @res</Strong>
</div>*@
@section Scripts
{
    <script>
        $(document).ready(function() {
            var table = $('#question-result-table').DataTable( {
                "pageLength": 50,
                stateSave: true,
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Brlftip',
                buttons: [
                    {
                        extend: 'pdf',
                        text: '<span title="only visible columns will be exported to excel">Export to pdf</span>',
                        title: "@ViewBag.SubjectName Survey Report",
                        className: 'btn btn-sm btn-xs',
                        orientation: 'landscape',
                        //pageSize: 'LEGAL',
                        filename:'@ViewBag.SubjectName Survey Report',
                        exportOptions: {
                            page: 'all'
                        },
                        messageTop: "@ViewBag.SubjectName Overall perfromance : @ViewBag.SubjectResult (@ViewBag.avgScore)",
                        alignment: "center",
                        customize: function (doc) {
                            //doc.content[1].table.headerRows = 2;
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'center',
                                            color:'#727c8c',
                                            text: ['Page ', { text: page.toString(), pageBreak: 'before' }, ' of ', { text: pages.toString() }, '\n genetated by @User.Identity.Name on(@DateTime.Now) ']
                                        }
                                    ],
                                }
                            });
                            doc['header'] = (function (page, pages, pageSize) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'center',
                                            color:'#727c8c',
                                            text: " DKUT Survey app",
                                            canvas: [{ type: 'rect', x: 170, y: 32, w: pageSize.width - 170, h: 40 }]
                                        }
                                    ],
                                }
                            });
                            //doc.content[2].table.widths="*"
                            //doc.content.splice(0, 0, {
                            //    margin: [12, 0, 0, 12],
                            //    alignment: "center",
                            //});
                            $.each(doc.content[2].table.body, function (key, values) {
                                //console.log(doc.content[2].table.body[0][1].text)
                                $.each(values, function (id, vals) {
                                    //console.log(vals)
                                    //if its not the first row
                                    if (id!=0) {
                                        vals.alignment = 'center'
                                    }
                                
                                })
                            })
                            //console.log(doc.styles)
                            doc.styles['td:nth-child(1)'] = { 
                               width: '60%',
                               'max-width': '60%'
                            }
                            doc.styles.tableFooter = {
                               background: 'blue',
                               alignment: 'right',
                               color:'blue'
                             }
                        }
                    },
                    {
                        extend: 'excel',
                        text: 'export to excel',
                        filename: '@ViewBag.SubjectName Survey Report',
                        messageTop: "@ViewBag.SubjectName Overall perfromance : @ViewBag.SubjectResult (@ViewBag.avgScore)",
                        messageBottom: "genetated by @User.Identity.Name on(@DateTime.Now) ",
                        className: 'btn-xs',
                        exportOptions: {
                            page: 'all'
                        },
                    }
                ]
            });
        } );
    </script>
}