@model IEnumerable<Surveyapp.Models.SurveySubject> 
@inject SurveyContext Context

@{
    ViewBag.Title = "Subject Result";
    Layout = "_Layout";
    int res=1;
}

<h2>Subject Result</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.suject)*@
                Subject name
            </th>
            <th>
                Total Score
            </th>
            <th>
                Avarage Score
            </th>
            <th>
                Result
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{
        var surveyResponse = Context.SurveyResponse;
        var responseType = Context.ResponseType;
        var question = Context.Question;
        foreach (var item in Model)
            {
                var scoreResponse = surveyResponse.Where(a => a.question.SubjectId == item.Id).Sum(x => int.Parse(x.Response));
                var questions = question.Where(x => x.SubjectId == item.Id).Count(a => a.SubjectId == item.Id);
                //var questionResponsesCount = Context.SurveyResponse.Where(a=>a.question.SubjectId==item.Id)?.Count();
                var totalResponse = surveyResponse.Where(a => a.question.SubjectId == item.Id).Count(a => a.question.SubjectId == item.Id);
                var maxRespondType = responseType.Where(x => x.SubjectId == item.Id).SelectMany(x => x.ResponseDictionary.Keys).Max();
                var avgScore = Math.Round((decimal) scoreResponse / (decimal) totalResponse, 0);
                res=totalResponse;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        @scoreResponse
                    </td>
                    <td>
                        @avgScore
                    </td>
                    <td>
                        @responseType.Where(x=>x.SubjectId == item.Id).SelectMany(x=>x.ResponseDictionary).SingleOrDefault(x=>int.Parse(x.Key) == avgScore).Value
                        @*@foreach (var scores in Context.ResponseType.Where(x => x.SubjectId == item.Id).SelectMany(x => x.ResponseDictionary))
                        {
                            if (avgScore == int.Parse(scores.Key))
                            {
                                <p> @scores.Value</p>
                            }
                        }*@
                    </td>
                    <td><a asp-action="QuestionResults" asp-route-id="@item.Id">Indiviual Question performnce</a></td>
                </tr>
            }
    }
    
    </tbody>
</table>
<div align="center" style="background-color:Lavender; color:DeepSkyBlue">
Number of responses per question <Strong> @res</Strong>
</div>