@model IEnumerable<Surveyapp.Models.Survey>
@inject SurveyContext _Context

@{
    ViewData["Title"] = "SurveyResults";
}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a>
                    <span>Survey Result</span>
                </a>
            </li>
        </ol>
    </nav>
<h4>Choose Subject Survey</h4>
<table class="table table-hover table-striped" id="surveyresult-table">
    <thead>
        <tr>
            <th>
                Survey @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{
        var resultCounter = 0;
    }
    @foreach (var item in Model)
    {
        resultCounter++;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Respondant.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.question.question)
            </td>*@
            <td width="40%">
                <a asp-controller="SurveyResponses" class="btn btn-sm btn-secondary" asp-action="SubjectsResult" asp-route-id="@item.Id">View Subjects Result</a>
                @* <button $1$asp-action="TakeSurvey" asp-route-id="@item.Id"#1# class="btn-block btn-sm btn btn-secondary" data-toggle="collapse" data-target="#Result-@resultCounter" aria-expanded="false" aria-controls="collapseExample">View Result <i class="fa fa-eye"></i></button> *@
                @*<div id="Result-@resultCounter" class="collapse" style="width:80%">
                    @if (item.SurveyCategorys.Count > 0)
                    {
                        <p>Choose Survey Subject categories</p>
                        <ul style="width:inherit">
                            @{
                                var surveyCategory = _Context.SurveyCategory.Where(x => x.SurveyId == item.Id).Where(x=>x.SurveySubjects.Any(a=>a.Questions.Any(s=>s.SurveyResponses.Any())));
                                foreach (var category in surveyCategory)
                                {
                                    <li><a asp-controller="SurveyResponses" asp-action="SubjectsResult" 
                                    asp-route-id="@category.Id">@category.CategoryName</a></li>
                                }
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Survey Subject categories Not set</p>
                    }
                </div>*@
                @*<a asp-action="Edit" asp-route-id="@item.Id">Result</a> |
                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
    }
    </tbody>
</table>
@section Scripts{
    <script>
        $("#surveyresult-table").DataTable();
    </script>
 }