@inject UserManager<ApplicationUser> _userManager;
@inject RoleManager<IdentityRole> _roleManager;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    @*<meta name="referrer" content="noreferrer">*@
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - DeKUT Surveys</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/select.css">
        <link rel="stylesheet" href="~/css/fontawsome.css">
        <link rel="stylesheet" type="text/css" href="~/lib/Datatables/datatables.css"/>
        <link rel="stylesheet" href="~/css/jquery-ui.css">
        <link rel="stylesheet" href="~/css/select2.min.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>
        <link rel="stylesheet" type="text/css" href="~/lib/Datatables/datatables.css"/>
        <link rel="stylesheet" href="~/css/jquery-ui.css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    </environment>
    <link rel="stylesheet" href="~/css/select.css">
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/fontawsome.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #79d388 !important">
        <div class="container">
            <!-- <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Surveyapp</a> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial"/>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Surveys" asp-action="Surveys">View/Take Surveys</a>
                    </li>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        if (!User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Surveys" asp-action="Index">My surveys</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="SurveyResponses" asp-action="SurveyResults">Survey Results</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="ResponseTypes" asp-action="Index">Response Types</a>
                            </li>
                        }
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Surveys" asp-action="ApproveSurveys">Manage Surveys</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                Manage
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item"
                                   asp-controller="ManageUsers"
                                   asp-action="ListRoles">
                                    Roles
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="ManageUsers"
                                   asp-action="ListUsers">
                                    Users
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="ManageUsers"
                                   asp-action="UserSurvey">
                                    Surveys
                                </a>
                                <a class="dropdown-item"
                                   asp-controller="Courses"
                                   asp-action="Index">
                                    Courses
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container main-container">
    <partial name="_CookieConsentPartial"/>
    <main role="main" class=" body-content" style="margin-top: 7%">
        @if (TempData["FeedbackMessage"] != null)
        {
            <div id="FeedbackMessage" class="alert alert-info alert-dismissible fade show" role="alert">
                @TempData["FeedbackMessage"]!
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div style="box-shadow: 0 15px 25px #c4c5ea;">
            @RenderBody()
        </div>
    </main>
</div>

<footer id="footer" style="z-index: 2000!important;">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h4>ABOUT US</h4>
            <p>The following softwares have been developed under DeKUT software development center(SDC)</p>
                    <ul style="list-style:circle;">
                        <li>Workload Manager</li>
                        <li>DeKUT ERP</li>
                        <li>Examination System</li>
                    </ul>   </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
             Nyeri,Kenya <br>
             P.O. Box 657-10100<br>
              <strong>Phone:</strong>+ 254713835965<br>
              <strong>Email:</strong> sdc@dkut.ac.ke<br>
            </p>


          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>SOCIAL LINKS</h4>
                <div class="social-links">
              <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/DeKUTKenya/" target="_blank" data-toggle="tooltip" data-placement="top" title="facebook" class="facebook">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fab fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
            </div>
              <div class="mt-3">
              <a  href="https://workman.dkut.ac.ke/presentation/index.html" target="_blank" style="color:#fff;">Quick presentation</a>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <div class="container">
            &copy; @DateTime.Now.Year - All rights reserved | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> | Terms &amp; Conditions
        </div>
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->

      </div>
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="~/js/select2.min.js"></script>
    <script src="~/js/select.js"></script>
    <script src="~/js/fontawesome.js"></script>
    <script type="text/javascript" src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/Datatables/jszip/jszip.js"></script>
    <script src="~/lib/Datatables/pdfmake/pdfmake.js"></script>
    <script src="~/lib/Datatables/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/Datatables/Buttons-1.6.1/js/dataTables.buttons.js"></script>
    <script src="~/lib/Datatables/Buttons-1.6.1/js/buttons.html5.js"></script>
    <script src="~/lib/Datatables/Buttons-1.6.1/js/buttons.print.js"></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/Datatables/datatables-fixedheader/dataTables.fixedHeader.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="~/js/select.js"></script>
    <script src="~/js/fontawesome.js"></script>
    <script type="text/javascript" src="~/lib/Datatables/datatables.js"></script>
    <script src="~/lib/Datatables/jszip/jszip.js"></script>
    <script src="~/lib/Datatables/pdfmake/pdfmake.js"></script>
    <script src="~/lib/Datatables/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/Datatables/Buttons-1.6.1/js/dataTables.buttons.js"></script>
    <script src="~/lib/Datatables/Buttons-1.6.1/js/buttons.html5.js"></script>
    <script src="~/lib/Datatables/Buttons-1.6.1/js/buttons.print.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"
            integrity=""></script>
    <script src="~/js/modernizr.js"></script>
    <script src="~/lib/Datatables/datatables-fixedheader/dataTables.fixedHeader.js"></script>
</environment>

<script src="~/js/site.js" asp-append-version="true"></script>
@*<script src="~/js/select.js" asp-append-version="true"></script>
<script src="~/js/fontawesome.js" asp-append-version="true"></script>*@
<script>
    setTimeout(function () {
        $("#FeedbackMessage").hide("slide", { direction: "right" }, 1000);
    }, 3000);
    $("select").select2({
    placeholder: "Select"
    });
    $('#footer').on("focus", function () {
        $(this).css("background-color", "yellow");
    });
    $.fn.isOnScreen = function(){
    
        var win = $(window);
    
        var viewport = {
            top : win.scrollTop(),
            left : win.scrollLeft()
        };
        viewport.right = viewport.left + win.width();
        viewport.bottom = viewport.top + win.height();
    
        var bounds = this.offset();
        bounds.right = bounds.left + this.outerWidth();
        bounds.bottom = bounds.top + this.outerHeight();
    
        return (!(viewport.right < bounds.left || viewport.left > bounds.right || viewport.bottom < bounds.top || viewport.top > bounds.bottom));
    
    };
    var footerScreen = false;
    $(window).scroll(function(){
        var clss = $('.side-navigation').hasClass("sticky-navigation");
        if ($('#footer').isOnScreen()) {
            // The element is visible, do something
            if (clss === false) {
                $('.side-navigation').addClass("sticky-navigation");
            }
        } else {
            // The element is NOT visible, do something else
            if (clss === true) {
                console.log(23)
                //$('.side-navigation').removeClass("sticky-navigation");
            }
        }
    });
</script>
@RenderSection("Scripts", required: false)
</body>
</html>