@model IEnumerable<Surveyapp.Models.Question>
@inject SurveyContext _context

@{
    ViewData["Title"] = "Index";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="ResponseTypes" asp-route-id="@ViewBag.subjectid">
                <span>Survey Response options</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-action="Index" asp-controller="Questions" asp-route-id="@ViewBag.subjectid">
                <span>Questions</span>
            </a>
        </li>
    </ol>
</nav>
<div style="display: flex;flex-direction: column">
    @if (TempData["FeedbackMessage"] != null)
            {
                <div id="FeedbackMessage" class="alert alert-info alert-dismissible fade show" role="alert">
                    @TempData["FeedbackMessage"]!
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
    <h2 class="justify-content-lg-center">Survey setup Complete! <small>(refresh the page for survey table update)</small></h2>
    <button class="btn btn-primary" id="close-survey-setup-modal" data-dismiss="modal">
        Close Pop up
    </button>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/jquery-ui.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script >
setTimeout(function () {
    $("#FeedbackMessage").hide("slide", { direction: "right" }, 1000);
}, 3000);
$("#close-survey-setup-modal").on("click",function(e) {
  $(this).closest("#Setup-new-survey-div").find("#Setup-new-survey").modal('hide');
})
</script>

