@model Surveyapp.Models.Question

@{
    ViewData["Title"] = "Create Question";
}
<style>
    .new_add_field_button{
    border-radius: 50%;
    background-color: #4CAF50;
      border: none;
      color: white;
      padding: 5%;
      zoom: 200%;
      /*text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px*/
    }
    .new_minus_field_button{
        border-radius: 50%;
        background-color: #4CAF50;
          border: none;
          color: white;
          padding: 5%;
          zoom: 200%;
        }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-route-id="@ViewBag.SubjectId">
                <span>Questions</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>create Questions</span>
            </a>
        </li>
    </ol>
</nav>
<div style="display: none">
    <select name="" id="responseTypeSelect" asp-items="ViewBag.ResponseTypeId"></select>
    <select name="" id="questionsSelect" asp-items="ViewBag.QuestionGroupId"></select>
</div>
<h4>Question</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" required="required" name="subjectId" value="@ViewBag.SubjectId">
            @*<input type="hidden" asp-for="ResponseTypeId" value="@ViewBag.ResponseTypeId">*@
            <div class="wrapper">
                @*<div class="form-group">
                    $1$<label asp-for="SubjectId" class="control-label"></label>
                    <select asp-for="SubjectId" class ="form-control" asp-items="ViewBag.SubjectId"></select>#1#
                </div>
                <div class="form-group col-md-4">
                    $1$<input type="hidden" required="required" name="ResponseTypeId" value="@ViewBag.responseTypeId">#1#
                    <label asp-for="ResponseTypeId" class="control-label"></label>
                    <select asp-for="ResponseTypeId" class ="form-control" asp-items="ViewBag.ResponseTypeId"></select>
                </div>*@
                <div class="form-group col-md-12 question-div" style="display: flex;">
                    <input type="hidden" required="required" name="Question[0].SubjectId" value="@ViewBag.SubjectId">
                    <div class="form-group col-md-4">
                        <label class="control-label">question</label>
                        <textarea placeholder="Input question" rows="4" cols="50" type="text" required="required" name="Question[0].question" class="form-control"></textarea>
                        <span asp-validation-for="question" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 3%">
                        <label asp-for="ResponseTypeId" class="control-label"></label>
                        <select required="required" asp-items="ViewBag.ResponseTypeId" name="Question[0].ResponseTypeId" style="width: auto;" class="form-control"></select>
                        <span asp-validation-for="ResponseTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 3%">
                        <label asp-for="QuestionGroupId" class="control-label"></label>
                        <select asp-items="ViewBag.QuestionGroupId" name="Question[0].QuestionGroupId" style="width: auto;" class="form-control"></select>
                        <span asp-validation-for="QuestionGroupId" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 3%">
                        <label asp-for="AnswerRequired" class="control-label"></label>
                        <input type="hidden" value="false" name="Question[0].AnswerRequired" style="width: auto;" class="form-control"/>
                        <input type="checkbox" value="true" name="Question[0].AnswerRequired" checked="checked" style="width: auto;" class="form-control"/>
                        <span asp-validation-for="AnswerRequired" class="text-danger"></span>
                    </div>
                    <p class="col-md-8">
                        <a href="javascript:void(0);" onclick="addquestionfield(this)" class="add_fields btn btn-secondary btn-sm">Add another question field</a>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>


        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.SubjectId">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        var max_fields = 50;
        var x = 1; //Initial input field is set to 1
        function addquestionfield(element){
            //Check maximum allowed input fields
            if(x < max_fields){
                x++; //input field increment
                var subjectId = '@ViewBag.SubjectId';
                var questionDiv = $(element).closest(".wrapper").find(".question-div").length;
                var nextQuestionDiv = parseInt(questionDiv)+1;
                //add input field
                $(".wrapper").append('<div class="form-group col-md-12 question-div" style="display: flex;">' +
                                      '    <input type="hidden" required="required" name="Question['+nextQuestionDiv+'].SubjectId" value="'+subjectId+'">'+
                                      '    <div class="form-group col-md-4">'+
                                      '        <label class="control-label">question</label>'+
                                      '        <textarea placeholder="Input question" rows="4" cols="50" type="text" required="required" name="Question['+nextQuestionDiv+'].question" class="form-control"></textarea>'+
                                      '    </div>'+
                                      '    <div class="form-group" style="margin-right: 3%">'+
                                      '        <label class="control-label">Response Type</label>'+
                                      '        <select style="width: auto;" name="Question['+nextQuestionDiv+'].ResponseTypeId" class="form-control">' +
                                       $("#responseTypeSelect").html()+
                                       '</select>'+
                                      '    </div>'+
                                      '    <div class="form-group" style="margin-right: 3%">'+
                                      '        <label class="control-label">Question Group</label>'+
                                      '        <select style="width: auto;" name="Question['+nextQuestionDiv+'].QuestionGroupId" class="form-control">' +
                                       $("#questionsSelect").html()+
                                       '</select>'+
                                      '    </div>' +
                                       '<div class="form-group" style="margin-right: 3%">'+
                                       '     <label class="control-label">AnswerRequired</label>'+
                                       '     <input type="hidden" value="false" name="Question[0].AnswerRequired" style="width: auto;" class="form-control"/>'+
                                       '     <input type="checkbox" value="true" name="Question[0].AnswerRequired" checked="checked" style="width: auto;" class="form-control"/>'+
                                       '</div>'+
                                      '<div class="col-md-7">'+
                                     '     <p class="col-md-3"><a href="javascript:void(0);" onclick="addquestionfield(this)" title="Add another question field" class="add_fields new_add_field_button fas fa-plus-circle"></a></p>'+
                                     '     <p class="col-md-3"><a href="javascript:void(0);" title="Remove question field" class="remove_field new_minus_field_button fas fa-minus-circle"></a></p>' +
                                     '</div>'+
                                      '/div>');
             //add focus on last textarea
            $(element).closest(".wrapper").find('.form-group:last-child textarea').focus()
            //console.log($(element).closest(".wrapper").find('.form-group:last-child').html())
            }
        }
        /*'<div class="col-md-7">'+
                           '<p class="col-md-3"><a href="javascript:void(0);" onclick="addquestionfield(this)" title="Add another question field" class="add_fields new_add_field_button fas fa-plus-circle"></a></p>'+
                           '<p class="col-md-3"><a href="javascript:void(0);" title="Remove question field" class="remove_field new_minus_field_button fas fa-minus-circle"></a></p>' +
                           '</div>'+*/
        /*$(".add_fields").click(function(e){
                e.preventDefault();
         //Check maximum allowed input fields
                if(x < max_fields){
                    x++; //input field increment
         //add input field
                    $(".wrapper").append('<div class="form-group col-md-12" style="display: flex;">' +
                     '<label class="control-label">question</label>' +
                      '<div class="form-group col-md-4">' +
                      '<textarea rows="4" cols="50" class="form-control" name="quiz" placeholder="Input question" ></textarea>' +
                       '</div>' +
                       '<p class="col-md-3"><button onclick="addquestionfield(this)" class="add_fields btn btn-secondary btn-sm">Add another question</button></p>'+
                        '<p class="col-md-9"><a href="javascript:void(0);" class="remove_field btn btn-sm btn-secondary">Remove question</a></p>' +
                       '</div>');
                }
            });*/
         
            //when user click on remove button
            $(".wrapper").on("click",".remove_field", function(e){ 
                    e.preventDefault();
             $(this).closest('div.form-group').remove(); //remove inout field
             x--; //inout field decrement
                });
    </script>
}