@model Surveyapp.Models.Question

@{
    ViewData["Title"] = "Delete";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="ResponseTypes" asp-route-id="@Model.SubjectId">
                <span>Survey Response options</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-route-id="@Model.SubjectId">
                <span>Questions</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>delete Question</span>
            </a>
        </li>
    </ol>
</nav>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.question)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.question)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseType.Id)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id="@Model.SubjectId">Back to List</a>
    </form>
</div>
