@model Surveyapp.Models.Question

@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="ResponseTypes" asp-route-id="@Model.SubjectId">
                <span>Survey Response options</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.CategoryId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-route-id="@Model.SubjectId">
                <span>Questions</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>edit Question</span>
            </a>
        </li>
    </ol>
</nav>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" required="required"/>
            @*<div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label @*asp-for="ResponseType.ResponseName" *@class="control-label">ResponseName</label>
                <select asp-for="ResponseTypeId" required="required" class="form-control" asp-items="ViewBag.ResponseTypeId"></select>
                <span asp-validation-for="ResponseTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="question" class="control-label"></label>
                <textarea asp-for="question" required class="form-control" ></textarea>
                <span asp-validation-for="question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.SubjectId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
