@model IEnumerable<Surveyapp.Models.Question>
@inject SurveyContext _context

@{
    ViewData["Title"] = "Index";
}

<style>
    .select{
      height:20px;
      width:auto;
      overflow:hidden;
      background-color:#FFFFFF;
      border:1px solid #CCCCCC;
      padding:0px;
      margin:0px;
      cursor:pointer;
      border-radius: 5px;
    }
    
    .select:hover{
      height:auto;
    }
    
    .select li{
      height:20px;
      line-height:20px;
      /*padding-left:5px;*/
    }
    .select li:after{
    background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down4-24.png');
    }
    .select li:hover{
      background-color:#EEEEFF;
    }
    
    .select li a{
      text-decoration:none;
      color:#000000;
      font-family:calibri;
    }
    
    .select li:first-child a:after{
      content:' ';
      background-size:16px 16px;
      background-position:center center;
      background-repeat:no-repeat;
      float:right;
      height:20px;
      width:auto;
      text-align:center;
      line-height:20px;
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="QuestionGroups" asp-route-id="@ViewBag.subjectid">
                <span>Question groups</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Questions</span>
            </a>
        </li>
    </ol>
</nav>

<h1>@ViewBag.SubjectName Questions</h1>
@*check if survey question has respond options*@
@if (/*ViewBag.ResponType>0*/true)
{
    int surveyId = ViewBag.SurveyId;
    var otherQuiz = _context.Question.Any(x => x.Subject.SurveyId == surveyId);
    <div style="display: flex;">
        @*check if there are not questions and add quize from other subjects option*@
        @if (!Model.Any())
        {
            <p>
                <a asp-action="Create" asp-route-id="@ViewBag.subjectid">Create New</a>
            </p>
            /*if there are questions on subject category*/
            @if (otherQuiz)
             {
                 <h5 style="margin-left: 5px;margin-right: 5px">OR</h5>
                 var quizes = _context.SurveySubject.Where(x => x.SurveyId == surveyId && x.Questions.Any());
                <div style="margin-left: 10px">
                    <div class="dropdown">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                            Choose other subject category questions
                        </button>
                        <div class="dropdown-menu" style="width:100%;background-color:darkgrey">
                            @foreach (var quizoptions in quizes)
                            {
                                <a class="dropdown-item" asp-action="AssociateQuestion" asp-route-subId="@quizoptions.Id" asp-route-id="@ViewBag.subjectid">@quizoptions.Name Questions</a>
                            }
                        </div>
                    </div>
        @*<ul class="select">
            <li>
                Choose other subject questions
                <ul style="list-style: none;">
                    @foreach (var quizoptions in quizes)
                    {
                        <li asp-action="AssociateQuestion" asp-route-subId="@quizoptions.Id" asp-route-id="@ViewBag.subjectid">@quizoptions.SubjectName Questions</li>
                    }
                </ul>
            </li>
        </ul>*@
    </div>
             }
        }
        @*if there are questions for this subject*@
        @if (Model.Any())
        {
            <p>
                <a asp-action="Create" asp-route-id="@ViewBag.subjectid">Create New</a>
            </p>
        }

    </div>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseType.ResponseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnswerRequired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionGroup.Name)
            </td>
            <td>
                @*@foreach (var respnses in item.ResponseType.ResponseDictionary)
                {
                    <label>@respnses.Value: 
                        <input type="radio" value="@respnses.Key" name="checklist" required />
                    </label>
                }*@
                @Html.DisplayFor(modelItem => item.ResponseType.ResponseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnswerRequired)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit"><i class="fa fa-edit"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
