@model Surveyapp.Models.ResponseType

@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.CategoryId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-route-id="@Model.SubjectId">
                <span>Option Types</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Edit Option Types</span>
            </a>
        </li>
    </ol>
</nav>

<h4>ResponseType</h4>
<hr />
<h2 style="color:red">Note the order of adding the response option<small style="color:red">(This is used for rating scale)</small></h2>
<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ResponseName" class="control-label"></label>
                <input asp-for="ResponseName" class="form-control" />
                <span asp-validation-for="ResponseName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>*@
        <div class="wrapper">
                    @foreach (var responses in Model.ResponseDictionary.OrderBy(x=>x.Key))
                    {
                        if ((int.Parse(responses.Key))==1)
                        {
                            <div class="col-md-12" style="display: flex;">
                                <label class="control-label">Response Options</label>
                                <div class="form-group col-md-4">
                                    <input required="required" name="responseDictionary" value="@responses.Value" placeholder="Input response option" class="form-control"/>
                                </div>
                                <p class="col-md-8"><a href="javascript:void(0);" onclick="addresponsefield(this)" style="zoom: 200%" title="Add response option" class="add_fields fas fa-plus-circle"></a></p>
                            </div>
                        }
                        else
                        {
                            <div class="form-group col-md-12" style="display: flex;">
                                <label class="control-label">Response Options</label>
                                <div class="form-group col-md-4">
                                    <input class="form-control" value="@responses.Value" name="responseDictionary" placeholder="Input response option"/>
                                </div>
                                <div style="display: flex" class="col-md-8">
                                    <p ><a href="javascript:void(0);" onclick="addresponsefield(this)" style="zoom: 200%" title="Add response option" class="add_fields new_add_response_field_button fas fa-plus-circle"></a></p>
                                    <p ><a href="javascript:void(0);" title="Remove option field" style="zoom: 200%" class="remove_field new_minus_response_field_button fas fa-minus-circle"></a></p>
                                    @*<p class="col-md-8"><a href="javascript:void(0);" onclick="addresponsefield(this)" class="remove_field btn btn-sm btn-secondary">Remove option</a></p>*@
                                </div>
                                
                            </div>
                            @*<div class="form-group">
                                <div class="col-md-12" style="display: flex;">
                                    <label class="control-label">Response Options</label>
                                    <div class="form-group col-md-4">
                                        <input required="required" name="responseDictionary" value="@responses.Value" placeholder="Input response option" class="form-control"/>
                                    </div>
                                    <p class="col-md-8"><a href="javascript:void(0);" class="remove_field btn btn-sm btn-secondary">Remove option</a></p>
                                </div>
                            </div>*@
                        }
                        

                    }
                @*<label asp-for="ResponseDictionary" class="control-label"></label>
                <input asp-for="ResponseDictionary" class="form-control"/>*@
                <span asp-validation-for="ResponseDictionary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.SubjectId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var max_fields = 10;
        var x = 1; //Initial input field is set to 1
        function addresponsefield(element){
                //Check maximum allowed input fields
                if(x < max_fields){
                    x++; //input field increment
                    //add input field
                    $(".wrapper").append('<div class="form-group col-md-12" style="display: flex;">' +
                                 '<label class="control-label">Response Options</label>' +
                                  '<div class="form-group col-md-4">' +
                                  '<input class="form-control" required="required" name="responseDictionary" placeholder="Input response option" />' +
                                   '</div>' +
                                   '<div style="display: flex" class="col-md-8"> ' +
                                   '<p ><a href="javascript:void(0);" onclick="addresponsefield(this)" title="Add response option" style="zoom: 200%" class="add_fields new_add_response_field_button fas fa-plus-circle"></a></p>' +
                                   '<p ><a href="javascript:void(0);" title="Remove option field" style="zoom: 200%" class="remove_field new_minus_response_field_button fas fa-minus-circle"></a></p>' +
                                   '</div>' +
                                    '</div>');
                 //add focus on last input
                $(element).closest(".wrapper").find('.form-group:last-child input').focus();
                }
                    }
       /* $(".add_fields").click(function(e){
                e.preventDefault();
         //Check maximum allowed input fields
                if(x < max_fields){ 
                    x++; //input field increment
         //add input field
                    $(".wrapper").append('<div class="form-group col-md-12" style="display: flex;"><label class="control-label">Response Options</label><div class="form-group col-md-4"><input class="form-control" name="responseDictionary" placeholder="Input response option" /></div><p class="col-md-8"><a href="javascript:void(0);" class="remove_field btn btn-sm btn-secondary">Remove option</a></p></div>');
                }
            });*/
         
            //when user click on remove button
            $(".wrapper").on("click",".remove_field", function(e){ 
                    e.preventDefault();
                    console.log($(this).parent().parent('div.form-group').html())
             $(this).closest('div.form-group').remove(); //remove inout field
             x--; //inout field decrement
                });
    </script>
}
