@using System.Collections
@model IEnumerable<Surveyapp.Models.ResponseType>

@{
    ViewData["Title"] = "Subject Response Options";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveySubjects" asp-route-id="@ViewBag.CategoryId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Options Types</span>
            </a>
        </li>
    </ol>
</nav>


@if (Model.Any())
{
    <h3>@ViewBag.SubjectName Options Types</h3>
}
else
{
   <p>
       <a asp-action="Create" asp-route-id="@ViewBag.SubjectId">Create New @ViewBag.SubjectName's Options Types</a>
   </p> 
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResponseName)
            </th>
            <th>
                Response options
                @*@Html.DisplayNameFor(model => model.Subject)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseName)
            </td>
            <td>
            @foreach(var itemed in item.ResponseDictionary)
            {
                <p>(@itemed.Key) @itemed.Value</p>
            }
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Subject.Id)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
