@using System.Collections
@model IEnumerable<Surveyapp.Models.ResponseType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.SubjectId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ResponseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseDictionary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResponseName)
            </td>
            <td>
            @foreach(var itemed in item.ResponseDictionary)
            {
                <p>@itemed.Value</p>
                @*<h1>itemed.Value</h1>*@
            }
                @*@Html.DisplayFor(modelItem => item.ResponseDictionary.Values)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
