@using System.Text.RegularExpressions
@model IEnumerable<Surveyapp.Models.Survey>

@{
    ViewBag.Title = "Approve Surveys";
    //Layout = "_Layout";
}
    <style>
        thead input {
        width: 100%;
    }
    button.dt-button.btn-xs {
        color: white;
        background: #337AB7 !important;
        border-radius: 3%;
        background-color: #337AB7 !important;
        height: 10%;
        text-align: center;
    }
    </style>
    <h2>Manage Surveys</h2>
<table class="table table-striped table-hover table-bordered display" id="approveltable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            Surveyer 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvalStatus)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surveyer.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approvalStatus)
            </td>
            <td>
                @if (item.approvalStatus == "NotApproved")
                {
                    <a class="btn btn-info btn-sm" asp-action="ChangeApproval" asp-route-id="@item.Id" asp-route-Approvalstate="Approved">Approve</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span>|</span>
                    <a asp-controller="SurveyCategories" asp-action="Index" asp-route-id="@item.Id">Survey Subject categories</a>*@
                }
                @if (item.approvalStatus == "Approved")
                {
                    <a class="btn btn-danger btn-sm" asp-action="ChangeApproval" asp-route-id="@item.Id" asp-route-Approvalstate="NotApproved">Disapprove</a>
                }
                @if (item.approvalStatus == null)
                {
                    <button class="btn btn-sm btn-primary" data-toggle="collapse" data-target="#@Regex.Replace(item.name, @"\s", "")" aria-expanded="false" aria-controls="collapseExample">Change Approval state</button>
                    <div id="@Regex.Replace(item.name, @"\s", "")" class="collapse" style="width:80%">
                        <ul style="width:inherit">
                            <li><a asp-action="ChangeApproval" asp-route-id="@item.Id" asp-route-Approvalstate="Approved">Approve</a></li>
                            <li><a asp-action="ChangeApproval" asp-route-id="@item.Id" asp-route-Approvalstate="NotApproved">Disapprove</a></li>
                        </ul>
                    </div>
                }

            </td>
        </tr>
    }
    </tbody>
</table>
@section Scripts
{
    <script >
        $(document).ready(function() {
            $('#approveltable thead tr').clone(true).appendTo( '#approveltable thead' );
            $('#approveltable thead tr:eq(1) th').each(function (i) {
                var title = $(this).text();
                $(this).html( '<input style="width:100%!important;font-weight:smaller" type="text" placeholder="Search'+title+'" />' );
                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
            var table = $('#approveltable').DataTable( {
                dom: 'Brltip',
                "pageLength": 50,
                stateSave: true,
                orderCellsTop: true,
                fixedHeader: true,
                buttons: [
                    {
                        extend: 'pdf',
                        text: '<span title="only visible columns will be exported to excel">Export to pdf</span>',
                        title:"Survey app",
                        filename:'Survey Approval Report',
                        className: 'btn btn-sm btn-xs',
                        exportOptions: {
                            columns: 'th:not(:last-child)',
                            page: 'all'
                        },
                        //messageTop:"<span style='align:center'>Survey Approval status</span>",
                        customize: function (doc) {
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'center',
                                            text: ['Page \n', { text: page.toString() }, ' of ', { text: pages.toString() }, '\n genetated by @User.Identity.Name ']
                                        }
                                    ],
                                }
                            });
                            doc['header'] = (function (page, pages, pageSize) {
                                console.log(page)
                                return {
                                    columns: [
                                        {
                                            alignment: 'center',
                                            text: " DKUT Survey app",
                                            canvas: [ { type: 'rect', x: 170, y: 32, w: pageSize.width - 170, h: 40 } ]
                                        }
                                    ],
                                }
                            });
                            doc.content.forEach(function (content) {
                                console.log(content)
                                //if (content.style == 'message') {
                                //content.text = 'this is a late created message'
                                //}
                            })
                        }
                    },
                    {
                        extend: 'excel',
                        text: 'export to excel',
                        filename:'Survey Approval Report',
                        className: 'btn-xs',
                        exportOptions: {
                            columns: 'th:not(:last-child)',
                            page: 'all'
                        },
                    }
                ]
            });
        } );
    </script>
}
