@model Surveyapp.Models.Survey

@{
    ViewData["Title"] = "Create Survey";
}

@*<h1>Create</h1>*@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ">
            <a asp-action="Index">
                <span>My Surveys </span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Create Survey </span>
            </a>
        </li>
    </ol>
</nav>

<h4>Create Survey</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="creat-survey-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdate" class="control-label"></label>
                <input asp-for="Startdate" value="@($"{DateTime.Now:yyyy-MM-dd}")" class="form-control"/>
                <span asp-validation-for="Startdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" min="@($"{DateTime.Now:yyyy-MM-dd}")" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description"  class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                @{
                    var statusSelect = new[]
                    {
                        new { text = "Open (allow anonymous take of survey)", value = "Open" },
                        new { text = "Closed (login required for survey take)", value = "Closed" },
                        new { text = "SelectiveParticipants (only Selected Participants)", value = "SelectiveParticipants" }
                    }.Select(c => new SelectListItem
                    {
                        Value = c.value,
                        Text = c.text,
                        Selected = c.value == Model?.status
                    });
                }

                <label asp-for="status" class="control-label"></label>
                @*<input asp-for="status" class="form-control" />*@
                <select asp-for="status" class="form-control" asp-items="statusSelect" onchange="surveyTypechange(this)"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForStudents" class="control-label"></label>
                <input asp-for="ForStudents" min="@($"{DateTime.Now:yyyy-MM-dd}")" class="form-control"/>
                <span asp-validation-for="ForStudents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ForStaff" class="control-label"></label>
                <input asp-for="ForStaff" min="@($"{DateTime.Now:yyyy-MM-dd}")" class="form-control"/>
                <span asp-validation-for="ForStaff" class="text-danger"></span>
            </div>
            <div class="form-group Participants" style="display: none">
                <label asp-for="SurveyParticipants" class="control-label"></label>
                @*<input asp-for="status" class="form-control" />*@
                <select name="Participants" multiple="multiple" asp-items="ViewBag.Participants" class="form-control">
                </select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div>
                <h5>Optional(s)</h5>
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <select asp-for="CourseId" data-allow-clear="true" class="form-control" asp-items="ViewBag.courses">
                        <option value="" selected="selected"></option>
                    </select>
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <select asp-for="DepartmentId" data-allow-clear="true" class="form-control" asp-items="ViewBag.departments">
                        <option value="" selected="selected"></option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="SurveyerId" class="control-label"></label>
                <select asp-for="SurveyerId" class ="form-control" asp-items="ViewBag.SurveyerId"></select>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script>
        //customize survey create from validation
        var today = "@($"{DateTime.Now:yyyy-MM-dd}")";
        jQuery.validator.addMethod("checktoday", function (value, element, params) {
                if (value<today) {
                        return false;
                    } else {
                        return true;
                    };
            },'<span style="color: red">Enter a date greater than today</span>');
        $("#Startdate").on("input",function(e){
            $("#EndDate").attr("min",$(this).val())
        });
        $("#EndDate").on("input",function(e){
            $("#Startdate").attr("max",$(this).val())
        })
        $("#creat-survey-form").validate({
            rules:{
                name:"required",
                Startdate:"required",
                EndDate:{
                    required:true,
                    checktoday: true
                },
                status:"required"
            },
            messages:{
                name: "<span style='color: red'>Please enter survey name<span>",
                Startdate:'<span style="color: red">Enter survey start date</span>',
                EndDate:{
                    required:'<span style="color: red">Enter survey end date</span>',
                    checktoday: '<span style="color: red">Enter date greater than today</span>'
                },
                status:'<span style="color: red">Enter survey status</span>'
            }
        })
        function surveyTypechange(element) {
          var selectedValue = $(element).val();
          if (selectedValue === "SelectiveParticipants"){
              $(".Participants").show()
          }else {
              $(".Participants").hide()
          }
        }
    </script>
}