@model IEnumerable<Surveyapp.Models.Survey>
@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Surveys";
}
<style>
.modal.show {
  display: flex !important;
  justify-content: center;
}

.modal-dialog {
  align-self: center;
}
#Setup-new-survey-div{
    position: absolute;
    right: 3%;
}
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a>
                <span>My Surveys </span>
            </a>
        </li>
    </ol>
</nav>

<div class="pull-right" id="Setup-new-survey-div">
    <a  asp-controller="Surveys" asp-action="CreatePartal" data-toggle="modal" data-target="#Setup-new-survey" class="btn btn-primary btn-sm">
        SetUP new survey
    </a>
    <div id="Setup-new-survey" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" style="width: 100%">
            <div class="modal-content">
    
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-action="Create">create new Survey</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Startdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approvalStatus)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approvalStatus)
            </td>
            <td>
                @if (item.SurveyerId == _userManager.GetUserId(User))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" title="Edit @item.name"><i class="fa fa-edit"></i></a><span>|</span>
                    <a asp-action="Details" asp-route-id="@item.Id" title="view @item.name details"><i class="fa fa-eye"></i></a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="Delete @item.name"><i class="fa fa-trash"></i></a> <span>|</span>
                    <a asp-controller="SurveyCategories" asp-action="Index" asp-route-id="@item.Id">Survey Subject categories <i class="fa fa-receipt"></i></a>
                }
                else
                {
                    <span></span>
                }

            </td>
        </tr>
    }
    </tbody>
</table>
@section Scripts
{
    <script >
    $('#Setup-new-survey').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var url = button.attr("href");
        var modal = $(this);
        // replace the content of modal-content ever time the modal is opened
        modal.find('.modal-content').load(url);
    });
    /*$('#Setup-new-survey').on('hidden.bs.modal', function () {
        $(this).removeData('bs.modal');
        $(this).find(".modal-body").empty();
        //$('#modal-container .modal-content').empty();
    });*/
    </script>
}
