@model IEnumerable<Surveyapp.Models.Survey>
@inject UserManager<ApplicationUser> _userManager;

@{
    ViewData["Title"] = "Surveys";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a>
                <span>My Surveys </span>
            </a>
        </li>
    </ol>
</nav>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Surveyer)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Startdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Surveyer.Id)
                    </td>*@
                <td>
                    @if (item.SurveyerId == _userManager.GetUserId(User))
                     {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><span>|</span>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> <span>|</span>
                    <a asp-controller="SurveyCategories" asp-action="Index" asp-route-id="@item.Id">Survey categories</a>
                    }
                    else
                    {
                        <span></span>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
