@model IEnumerable<Surveyapp.Models.SurveySubject>
@inject SurveyContext _context
@inject UserManager<ApplicationUser> _userManager
@using System.Text.RegularExpressions;
@using Microsoft.EntityFrameworkCore

@{
    ViewBag.Title = "Available Surveys";
    Layout = "_Layout";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <a>
                <span>Open Surveys</span>
            </a>
        </li>
    </ol>
</nav>
<h2>Surveys</h2>
@*check if there is available surveys*@
@if (Model.Any())
{
    <table class="table table-striped table-hover" id="survey-take-table">
        <thead>
        <tr>
            <th>
                Subject Name
            </th>
            <th>
                Availability
            </th>
            <th>
                survey
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            string dateStatus = null;
            if ((DateTime.Now - item.Survey.Startdate).Days < 0)
            {
                dateStatus = Math.Abs((DateTime.Now - item.Survey.Startdate).Days) + " Day(s) left to start";
            }
            if ((DateTime.Now - item.Survey.Startdate).Days > 0 && (item.Survey.EndDate - DateTime.Now).Days > 0)
            {
                dateStatus = (item.Survey.EndDate - DateTime.Now).Days + " Day(s) left to Expire";
            }
            if ((item.Survey.EndDate - DateTime.Now).Days <= 0)
            {
                dateStatus = " Survey Expired";
            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    <br/>
                    @foreach (var otherProp in item.OtherProperties)
                    {
                        <label style="font-weight: bolder">@otherProp.Name</label>
                        <span>:</span>
                        <span>@otherProp.Value</span>
                        <br/>
                    }
                </td>
                <td>
                    @dateStatus
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Survey.Name)
                </td>
                <td width="45%">
                    @*Check if survey date is available for take*@
                    @if ((DateTime.Now - item.Survey.Startdate).Days >= 0 && (item.Survey.EndDate - DateTime.Now).Days >= 0)
                    {
                        @*if survey is open for anonymous take*@
                        @if (item.Survey.status == "Open")
                        {
                            <a class="btn-block btn-sm btn btn-secondary" asp-action="SurveyQuestion" asp-route-id="@item.Id" asp-controller="Questions">Take survey</a>
                            @*<button class="btn-block btn-sm btn btn-secondary" data-toggle="collapse" data-target="#@Regex.Replace(item.name, @"\s", "")" aria-expanded="false" aria-controls="collapseExample">Take Survey</button>
                            <div id="@Regex.Replace(item.name, @"\s", "")" class="collapse" style="width:80%">
                                @if (item.Survey.SurveyCategorys.Count > 0)
                                {
                                    <p>Choose Survey Subject categories</p>
                                    <ul style="width:inherit">
                                        @{
                                            var surveyCategory = _context.SurveyCategory.Where(x => x.SurveyId == item.Id).Where(x => x.SurveySubjects.Any(a => a.Questions.Any()));
                                            foreach (var category in surveyCategory)
                                            {
                                                <li><a asp-controller="SurveySubjects" asp-action="SurveySubjects" asp-route-id="@category.Id">@category.CategoryName</a></li>
                                            }
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <p>Survey Subject categories Not set</p>
                                }
                            </div>*@
                        }
                        @*if survey is closed and require login for anonymous take*@
                        @if (item.Survey.status == "Closed")
                        {
                            //check if user is logged in
                            if (User.Identity!.IsAuthenticated)
                            {
                                <a class="btn-block btn-sm btn btn-secondary" asp-action="SurveyQuestion" asp-route-id="@item.Id" asp-controller="Questions">Take survey</a>
                                @*<button class="btn-block btn-sm btn btn-secondary" data-toggle="collapse" data-target="#@Regex.Replace(item.name, @"\s", "")" aria-expanded="false" aria-controls="collapseExample">Take Survey</button>
                                <div id="@Regex.Replace(item.name, @"\s", "")" class="collapse" style="width:80%">
                                    @if (item.SurveyCategorys.Count > 0)
                                    {
                                        <p>Choose Survey Subject categories</p>
                                        <ul style="width:inherit">
                                            @{
                                                var surveyCategory = _context.SurveyCategory.Where(x => x.SurveyId == item.Id).Where(x => x.SurveySubjects.Any(a => a.Questions.Any()));
                                                foreach (var category in surveyCategory)
                                                {
                                                    <li><a asp-controller="SurveySubjects" asp-action="SurveySubjects" asp-route-id="@category.Id">@category.CategoryName</a></li>
                                                }
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>Survey Subject categories Not set</p>
                                    }
                                </div>*@
                            }
                            else
                            {
                                <a class="btn-block btn-sm btn btn-danger" asp-area="Identity" asp-page="/Account/Login">take survey <small>(Login required)</small></a>
                            }
                        }
                        @if (item.Survey.status == "SelectiveParticipants")
                        {
                            //check if user is participant
                            if (User.Identity!.IsAuthenticated && item.Survey.SurveyParticipants.Any(v => v.ParticipantId == _userManager.GetUserId(User)))
                            {
                                <a class="btn-block btn-sm btn btn-secondary" asp-action="SurveyQuestion" asp-route-id="@item.Id" asp-controller="Questions">Take survey</a>
                            }
                            else
                            {
                                <p style="color: indianred"> <small>Only selected participants allowed</small></p>
                            }
                        }
                    } /*else the suveydate has not started or has ended*/
                    else
                    {
                        /*if survey startdate has not been attained*/
                        if ((DateTime.Now - item.Survey.Startdate).Days <= 0)
                        {
                            <button class="btn btn-sm btn-info" disabled="disabled"> Survey Not open</button>
                        }
                        /*if survey enddate has passed*/
                        if ((item.Survey.EndDate - DateTime.Now).Days <= 0)
                        {
                            <button class="btn btn-sm btn-info" disabled="disabled"> Survey Expired</button>
                        }
                    }

                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <h2>No Open Sureys are available</h2>
}

@section Scripts{
    <script>
        $('#survey-take-table').DataTable();
    </script>
}