@model IEnumerable<Surveyapp.Models.Survey>
@inject SurveyContext _context

@{
    ViewBag.Title = "Available Surveys";
    Layout = "_Layout";
}

<h2>Open Surveys</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Surveyer)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Surveyer.Id)
            </td>*@
            <td>
                <button @*asp-action="TakeSurvey" asp-route-id="@item.Id"*@ data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Take Survey</button>
                <div id="collapseExample" class="collapse">
                    <ul>
                        @{
                            var surveyCategory = _context.SurveyCategory.Where(x => x.SurveyId == item.Id);
                            foreach (var category in surveyCategory)
                            {
                                <li><a asp-controller="SurveySubjects" asp-action="SurveySubjects" asp-route-id="@category.Id">@category.CategoryName</a></li>
                            }
                        }
                    </ul>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
