@using Surveyapp.Controllers
@model Surveyapp.Models.SurveySubject

@{
    ViewData["Title"] = "Create";
    var newOtherProperties = new Dictionary<int, OtherProperties>();
    var newDynamicSubjectValue = new Dictionary<int, DynamicSubjectValueViewModel>();
}

@*
<h1>Create</h1>*@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>

        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a asp-action="Index" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a >
                <span>Create Survey Subject</span>
            </a>
        </li>
    </ol>
</nav>

<h4>New Survey Subject</h4>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" id="new-subject-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SurveyId" value="@ViewBag.SurveyId">
            <input type="hidden" name="DynamicSubjectValue" value="@newDynamicSubjectValue">
            <input type="hidden" name="OtherProperties" value="@newOtherProperties">
            <div>
                <div style="display: flex;">
                    <div class="form-group" style="margin-right: 3%">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" style="width: auto;" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 3%">
                        <label asp-for="CategoryId" class="control-label"></label>
                        <select data-allow-clear="true" asp-for="CategoryId" asp-items="ViewBag.CategoryId" style="width: auto;" class="form-control">
                            <option value="" selected="selected"></option>
                        </select>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="margin-right: 3%">
                        <label asp-for="ResponseTypeId" class="control-label"></label>
                        <select asp-for="ResponseTypeId" asp-items="ViewBag.ResponseTypeId" style="width: auto;" class="form-control"></select>
                        <span asp-validation-for="ResponseTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea name="Description" cols="50" class="form-control">@ViewBag.Description</textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AddAnotherSubjectOnSurveyTake" class="control-label"></label>
                        <input asp-for="AddAnotherSubjectOnSurveyTake" onclick="DynamicSubjectValueCheck(this)"/>
                        <span asp-validation-for="AddAnotherSubjectOnSurveyTake" class="text-danger"></span>
                    </div>
                    <div>
                        <h5>Optional(s)</h5>
                        <div class="form-group">
                            <label asp-for="CourseId" class="control-label"></label>
                            <select asp-for="CourseId" data-allow-clear="true" class="form-control" asp-items="ViewBag.courses">
                                <option value="" selected="selected"></option>
                            </select>
                            <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentId" class="control-label"></label>
                            <select asp-for="DepartmentId" data-allow-clear="true" class="form-control" asp-items="ViewBag.departments">
                                <option value="" selected="selected"></option>
                            </select>
                            <span asp-validation-for="DepartmentId" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="DynamicSubjectValue" style="display: none">
                    <h4>subject Properties request on survey take</h4>
                    <div class="d-flex DynamicSubjectValue-div boxshadow">
                        <div class="form-group">
                            <label asp-for="DynamicSubjectValue[0].Name" class="control-label"></label>
                            <input asp-for="DynamicSubjectValue[0].Name"/>
                            <span asp-validation-for="DynamicSubjectValue[0].Name" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <label class="control-label">Select Value Options</label>
                            <div class="SelectValueOptions-group ">
                                <div class="SelectValueOptions-div">
                                    <input type="text" placeholder="select option" name="DynamicSubjectValue[0].SelectValueOptions[0]">
                                    <a class="btn btn-info btn-sm" onclick="addOption(this,0)">Add another selective option</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p style="width: auto;margin-left: 3%;margin-top: 2%">
                                <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="addDynamicSubjectValue(this)">Add another dynamic subject select option</a>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="other-property-div" style="margin-top: 2%">
                    <input type="hidden" asp-for="OtherProperties" value="@newOtherProperties">
                    <h4>Other subject Properties</h4>
                    <div class="d-flex Property-group">
                        <div class="form-group" style="width: auto;margin-left: 3%">
                            <label style="margin-right: 3%" class="control-label">Name</label>
                            <input asp-for="OtherProperties[0].Name" style="width: auto;" class="form-control"/>
                            <span asp-validation-for="OtherProperties[0].Name" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="width: auto;margin-left: 3%">
                            <label style="margin-right: 3%" class="control-label">Value</label>
                            <input asp-for="OtherProperties[0].Value" style="width: auto;" class="form-control"/>
                            <span asp-validation-for="OtherProperties[0].Value" class="text-danger"></span>
                        </div>
                        <p style="width: auto;margin-left: 3%;margin-top: 2%">
                            <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="addpropertyfield(this)">Add another subject property</a>
                        </p>
                    </div>
                </div>
            </div>
            @*<div class="form-group">
                <label asp-for="StateCorporation" class="control-label"></label>
                <input asp-for="StateCorporation" class="form-control" />
                <span asp-validation-for="StateCorporation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chairpersion" class="control-label"></label>
                <input asp-for="Chairpersion" class="form-control" />
                <span asp-validation-for="Chairpersion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndofTerm" class="control-label"></label>
                <input asp-for="EndofTerm" class="form-control" />
                <span asp-validation-for="EndofTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="SubjectTypeId" class="control-label"></label>
                <input asp-for="SubjectTypeId" class="form-control" />
                <span asp-validation-for="SubjectTypeId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.SurveyId">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script >
    var max_fields = 15;
    var x = 1;
    function addpropertyfield(element){
        var propElements = $(element).closest(".other-property-div").find(".Property-group").length;
        var nextPropElement = parseInt(propElements)+1;
        //Check maximum allowed input fields
        if(x < max_fields){
            x++; //input field increment
            //add input field
            $(".other-property-div").append('<div class="d-flex Property-group">'+
                                          '<div class="form-group" style="width: auto;margin-left: 3%">'+
                                          '    <label style="margin-right: 3%" class="control-label">Name</label>'+
                                          '    <input name="OtherProperties['+nextPropElement+'].Name" style="width: auto;" class="form-control"/>'+
                                          '</div>'+
                                          '<div class="form-group" style="width: auto;margin-left: 3%">'+
                                          '    <label style="margin-right: 3%" class="control-label">Value</label>'+
                                          '    <input name="OtherProperties['+nextPropElement+'].Value" style="width: auto;" class="form-control"/>'+
                                          '</div>'+
                                          '<p style="width: auto;margin-left: 3%;margin-top: 2%">'+
                                          '    <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="addpropertyfield(this)">Add another subject property</a>'+
                                          '    <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info remove_field">remove property</a>'+
                                          '</p>'+
                                          '</div>');
         //add focus on last input
        $(element).closest(".other-property-div").find('.form-group:last-child input').focus()
        }
    }
    function addDynamicSubjectValue(element){
        var propElements = $(element).closest(".DynamicSubjectValue").find(".DynamicSubjectValue-div").length;
        var nextPropElement = parseInt(propElements)+1;
        $(".DynamicSubjectValue").append('<div class="d-flex DynamicSubjectValue-div boxshadow">'+
                                         '     <div class="form-group">'+
                                         '         <label class="control-label">Field Name</label>'+
                                         '         <input name="DynamicSubjectValue['+nextPropElement+'].Name" required/>'+
                                         '     </div>'+
                                         '     <div class="form-group ">'+
                                         '         <label class="control-label">Select Value Options</label>'+
                                         '         <div class="SelectValueOptions-group">'+
                                         '              <div class="SelectValueOptions-div">'+
                                         '                  <input type="text" placeholder="select option" name="DynamicSubjectValue['+nextPropElement+'].SelectValueOptions[0]">'+
                                         '                  <a class="btn btn-info btn-sm" onclick="addOption(this,'+nextPropElement+')">Add another selective option</a>'+
                                         '              </div>'+
                                         '         </div>'+
                                         '     </div>'+
                                         '     <div>'+
                                         '         <p style="width: auto;margin-left: 3%;margin-top: 2%">'+
                                         '             <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="addDynamicSubjectValue(this)">Add another dynamic subject select option</a>'+
                                         '             <a style="width: auto;margin-top: 5%" class="btn btn-sm btn-info" onclick="removeDynamicSubjectValue(this)">remove subject select option</a>'+
                                         '         </p>'+
                                         '     </div>'+
                                         '</div>');
        //add focus on last input
        $(element).closest(".DynamicSubjectValue").find('.form-group:last-child input').focus()
    }
    function addOption(element,SubjectValueNumber) {
      var propElements = $(element).closest(".SelectValueOptions-group").find(".SelectValueOptions-div").length;
      var nextPropElement = parseInt(propElements)+1;
      console.log(nextPropElement)
      $(element).closest(".SelectValueOptions-group").append('<div class="SelectValueOptions-div">'+
                                               '     <input type="text" placeholder="select option" name="DynamicSubjectValue['+SubjectValueNumber+'].SelectValueOptions['+nextPropElement+']">'+
                                               '     <a class="btn btn-info btn-sm" onclick="addOption(this,'+SubjectValueNumber+')">Add another selective option</a>' +
                                               '     <a class="btn btn-sm btn-info remove_field" onclick="removeOption(this)">remove option</a>'+
                                               '</div>');
    }
    //when user click on remove button
    $(document).on("click",".remove_field", function(e){ 
        e.preventDefault();
        $(this).closest('div.Property-group').remove(); //remove input field
        x--; //inout field decrement
        });
    function DynamicSubjectValueCheck(element) {
      if ($(element).is(":checked")){
          $(".DynamicSubjectValue").show();
      }else {
          $(".DynamicSubjectValue").hide();
      }
    }
    function removeOption(element) {
      $(element).closest('.SelectValueOptions-div').remove();
    }
    function removeDynamicSubjectValue(element) {
      $(element).closest('.DynamicSubjectValue-div').remove();
    }
    // $(".wrapper").on("input","input[name='PropertyName'], input[name='PropertyValue']", function(e){ 
    //     var PropertyName = $(this).closest('div.form-group').find('input[name="PropertyName"]').val();
    //     var PropertyValue = $(this).closest('div.form-group').find('input[name="PropertyValue"]').val();
    //     var otherproperty = $(this).closest('div.form-group').find('input[name="otherproperty"]').val(PropertyName+"|"+PropertyValue);
    //     //console.log($(this).closest('div.form-group').find('input[name="otherproperty"]').val())
    //     $(this).next('span.validatemessage').remove();
    //     //console.log($(this).next('span.validatemessage').text())
    //  });
    // //check if form is valid onsubmit
    // $('form#new-subject-form').submit(function(e) { 
    //     var thisform = this;
    //   e.preventDefault();
    //   var submitform = false;
    //   if($(this).valid()) {
    //       submitform = true;
    //   }
    //   var Propertyinputs= $(".wrapper").find("input[name='PropertyName'], input[name='PropertyValue']");
    //   $.each(Propertyinputs,function(key,value) {
    //       if ($(value).val().length <=0 || $(value).val()== null){
    //           $(this).next('span.validatemessage').remove();
    //           $(value).after("<span class='validatemessage' style='color: red'>fill data</span>");
    //          submitform = false;
    //       }
    //       else {
    //           submitform = true;
    //       }
    //   });
    //   if (submitform){
    //     //$(this).unbind('submit').submit();
    //     e.currentTarget.submit();
    //   }
    // })
</script>
}