@model IEnumerable<Surveyapp.Models.SurveySubject>

@{
    ViewData["Title"] = "Survey Subject";
    
}
<style>
    .popover{
            max-width:100%!important;
        }
</style>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="SurveyCategories" asp-route-id="@ViewBag.SurveyId">
                <span>Survey Subject Categories</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Survey Subject</span>
            </a>
        </li>
    </ol>
</nav>

@*<h1>Survey Subject</h1>*@

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.CategoryId">Create New <i class="fa fa-plus-square"></i></a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddAnotherSubjectOnSurveyTake)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DynamicallyCreated)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model!)
    {
        <tr @*data-toggle="popover" data-trigger="hover" title="@item.SubjectName's other properties" data-content=""*@>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <br/>
                @foreach (var otherProp in item.OtherProperties)
                {
                    <label style="font-weight: bolder">@otherProp.Name</label> <span>:</span> <span>@otherProp.Value</span>
                    <br/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddAnotherSubjectOnSurveyTake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DynamicallyCreated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="edit @item.Name">
                    <i class="fa fa-edit"></i>
                </a> |
                <a asp-action="Details" asp-route-id="@item.Id" title="view @item.Name details">
                    <i class="fa fa-eye"></i>
                </a> |
                <a asp-action="Delete" asp-route-id="@item.Id" title="delete @item.Name">
                    <i class="fa fa-trash-alt"></i>
                </a> |
                @*<a asp-controller="ResponseTypes" asp-action="Index" asp-route-id="@item.Id" title="view or add response to @item.Name">Response options</a> |*@
                <a asp-controller="QuestionGroups" asp-action="index" asp-route-id="@item.Id" title="Add response options first in-order to add question">question groups</a>|
                <a asp-controller="Questions" asp-action="index" asp-route-id="@item.Id" title="Add response options first in-order to add question">questions</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts{
    <script >
    $("[data-toggle=popover]").popover({
        animation: false,
        html: true,
        sanitize: false,
        placement: 'bottom',
        trigger: 'hover'
    });
    var table = $('table').DataTable();
    </script>
}