@model IEnumerable<Surveyapp.Models.SurveySubject>
@inject SurveyContext _context
@inject UserManager<ApplicationUser> _usermanager

@{
    ViewBag.Title = "Survey Subject";
    Layout = "_Layout";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Surveys" asp-controller="Surveys">
                <span>Surveys</span>
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a>
                <span>Survey Subject</span>
            </a>
        </li>
    </ol>
</nav>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
}
<h2>Choose Survey Subject</h2>
<table class="table">
    <thead>
    <tr>
        <th>Subject name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @*check if survey is of type closed*@
    @if (Model.Any(x => x.Category.Survey.status == "Closed"))
    {
    @foreach (var item in Model)
        {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    // check if user has taken survey on subject
                    if (_context.SurveyResponse.Where(x => x.question.Subject.Id == item.Id).Any(x => x.RespondantId == _usermanager.GetUserId(User)))
                    {
                        <button class="btn-block btn-sm btn btn-danger" disabled="disabled">survey Already taken</button>
                    }
                    else
                    {
                        <a asp-controller="Questions" asp-action="SurveyQuestion" asp-route-id="@item.Id">Start Survey</a>
                    }
                }
                else
                {
                    <a asp-controller="Questions" asp-action="SurveyQuestion" asp-route-id="@item.Id">Start Survey</a>
                }
                @*@Html.DisplayFor(modelItem => item.EndDate)*@

            </td>
        </tr>
        }
    }
    @*check if survey is of type open*@
    @if (Model.Any(x => x.Category.Survey.status == "Open"))
    {
        @foreach (var item in Model)
                {
                    <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubjectName)
                    </td>
                    <td>
                        <a asp-controller="Questions" asp-action="SurveyQuestion" asp-route-id="@item.Id">Start Survey</a>
                    </td>
                </tr>
                }
    }
    
    </tbody>
</table>
