@model IEnumerable<Surveyapp.Models.SurveyCategory>

@{
    ViewData["Title"] = "Survey Categories";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-action="Index" asp-controller="Surveys">
                <span>My Surveys</span>
            </a>
        </li>
    
        <li class="breadcrumb-item active">
            <a>
                <span>Survey Subject Categories</span>
            </a>
        </li>
    </ol>
</nav>
@*<h1>Survey Subject Categories</h1>*@

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.SurveyId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Survey)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Survey.Id)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Edit @item.CategoryName"><i class="fa fa-edit"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete @item.CategoryName"><i class="fa fa-trash"></i></a> |
                <a asp-controller="SurveySubjects" asp-action="Index" asp-route-id="@item.Id">Subjects</a>
            </td>
        </tr>
}
    </tbody>
</table>
